In [30]:
#Import Dependencies

from bs4 import BeautifulSoup as bs 
from splinter import Browser
import requests
import pandas as pd
import time
import pymongo

In [38]:
#Define a dictionary mars_final_output( the final dictionary that has all scraped data to be stored in mongo db)

mars_final_output ={}

In [31]:
# Chromedriver initialization

executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [55]:
#Give url to scrape - Latest Mars News
url = 'https://mars.nasa.gov/news/'
browser.visit(url)

In [57]:
# NASA Mars News

html = browser.html
soup = bs(html, 'html.parser')

results = soup.find('li', class_='slide')

news_para = results.find('div',class_="content_title").text
news_title = results.find('div',class_="article_teaser_body").text
print(news_para)
print(news_title)
output_news = [news_para,news_title]

The Extraordinary Sample-Gathering System of NASA's Perseverance Mars Rover
Two astronauts collected Moon rocks on Apollo 11. It will take three robotic systems working together to gather up the first Mars rock samples for return to Earth.

In [61]:
# Append the title and paragraph of scraped data to dictionary "mars_final_output" to be stored in db

output_news
mars_final_output['Mars_Title'] = output_news[0]
mars_final_output['Mars_Para'] = output_news[1]

In [62]:
#JPL Mars Space Images - Scrape Mars Featured Image

imageurl = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(imageurl)

In [63]:
html = browser.html
soup = bs(html,'html.parser')

browser.find_by_id('full_image').click()

In [64]:
result_image = soup.find('a',class_="button fancybox")["data-fancybox-href"]

In [65]:
print(result_image)

/spaceimages/images/mediumsize/PIA17474_ip.jpg

In [66]:
#Split the image url to get the first half of the url

base_url = imageurl.split('/s',1)
strip_url = base_url[0]
strip_url

'https://www.jpl.nasa.gov'

In [67]:
#Concatenate both the urls to get the featured image url
image_url = strip_url+result_image
image_url

'https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA17474_ip.jpg'

In [68]:
# Append the scraped data to dictionary "mars_final_output" to be stored in db
mars_final_output['Mars_Featured_Image'] = image_url

In [69]:
# Mars Weather - Twitter Scraping of mars weater

tweet_url="https://twitter.com/marswxreport?lang=en"
browser.visit(tweet_url)
time.sleep(5)
html = browser.html
soup = bs(html,'html.parser')

In [70]:
time.sleep(5)
tweets = soup.find('div', class_="css-901oao r-hkyrab r-1qd0xha r-a023e6 r-16dba41 r-ad9z0x r-bcqeeo r-bnwqim r-qvutc0")

In [71]:
for tweet in tweets:
    #print(tweets.text)
    a=tweets.text
    print(a)

InSight sol 539 (2020-06-02) low -91.9ºC (-133.4ºF) high -4.5ºC (23.9ºF)
winds from the WNW at 6.6 m/s (14.7 mph) gusting to 21.1 m/s (47.1 mph)
pressure at 7.30 hPa

In [72]:
# Append the scraped data to dictionary "mars_final_output" to be stored in db
mars_final_output['Twitter_Weather'] = a

In [32]:
#Mars Facts - scrape a table from website

fact_url = "https://space-facts.com/mars/"

mars_fact = pd.read_html(fact_url)
mars_fact

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [34]:
#Rename columns in dataframe, set index
df_mars = mars_fact[0]
df_mars.columns = ['Description','Value']
df_mars.set_index("Description",inplace=True)

In [35]:
df_mars.head(10)

                                              Value
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [36]:
#Convert the dataframe to a html file
df_mars.to_html('mars_facts.html')

In [37]:
#Replace the \n in the html with space

html_table=df_mars.to_html()
html_table
final_table=html_table.replace('\n', '')
final_table

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Value</th>    </tr>    <tr>      <th>Description</th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Equatorial Diameter:</th>      <td>6,792 km</td>    </tr>    <tr>      <th>Polar Diameter:</th>      <td>6,752 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>Moons:</th>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>Orbit Distance:</th>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>Orbit Period:</th>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>Surface Temperature:</th>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>First Record:</th>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>Recorded By:</th>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [39]:
# Append the scraped data to dictionary "mars_final_output" to be stored in db
mars_final_output['MarsFacts'] = final_table

In [21]:
#Mars Hemispheres - Scraping mars hemispheres image data
#Create a list "mars_hem" that stores te scraped data

mars_hem = []

hem_url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(hem_url)
html = browser.html
soup = bs(html,'html.parser')

In [22]:
#Split the url 
spl_url = hem_url.split('/s',1)
spl_url

['https://astrogeology.usgs.gov',
 'earch/results?q=hemisphere+enhanced&k1=target&v1=Mars']

In [23]:
results = soup.find_all('div',class_='description')

In [27]:

for result in results:
    
    htag = result.find('h3')
    print(htag.text)
    
    
    next_link = result.find('a')['href']
    
    
    #Concatenate the two urls to go to the individual image page to scrape image url
    split_url = hem_url.split("/s")
    next_url_to_visit = split_url[0] + next_link
    
    
    browser.visit(next_url_to_visit)
    html=browser.html
    soup=bs(html,'html.parser')
    
    img_results = soup.find('div',class_='downloads')
    hreftag = img_results.find('a')['href']
    print(hreftag)
    
    #Append the scraped data to the mars_hem list

    mars_hem.append({"title" : htag.text, "img_url" : hreftag})

Cerberus Hemisphere Enhanced
https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg
Schiaparelli Hemisphere Enhanced
https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg
Syrtis Major Hemisphere Enhanced
https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg
Valles Marineris Hemisphere Enhanced
https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg

In [28]:
#Append the scraped data to dictionary "mars_final_output" to be stored in db

mars_final_output['hemisphere'] = mars_hem

In [29]:
mars_final_output['hemisphere']

[]

In [6]:
import pymongo

In [16]:
#Establish Mongo db connection with db(mars_db) and collection(mars_collection)
conn = "mongodb://localhost:27017"
client = pymongo.MongoClient(conn)

In [17]:
db = client.mars_db
collection = db.mars_collection

In [18]:
collection.insert(mars_final_output)

C:\Users\conne\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: insert is deprecated. Use insert_one or insert_many instead.
  """Entry point for launching an IPython kernel.

ObjectId('5ed975aef3858859d67a0d2e')